{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - A propos
{% endblock %}

{% block body %}

	<div class="containerAbout">

		<div class="cardAbout CardOut">
			<div class="imageAbout">
				<div class="wallGradAboutLeft" style="--cover:url(/image/office.jpg)">
					<div class="wallHideAboutRight"></div>
				</div>
			</div>
			<div class="contentAbout">
				<div class="titleContentAbout">Qui sommes nous ?
				</div>
				<div class="bodyContent">
					<p>Dj shop est une boutique qui est née d'une collaboration entre un père et son fils et leur passion respective, l'électronique et les jeux vidéos.
					</p>
					<p>Notre projet repose sur la création de consoles Xbox 360 RGH custommisées , pour chaque nouvelle création la seule limite que nous nous imposons est notre imagination, que vous pouvez découvrir dans notre boutique.</p>
				</div>
			</div>
		</div>
		<div class="cardAbout CardIn">
			<div class="contentAbout">
				<div class="titleContentAbout">La touche Dj Shop
				</div>
				<div class="bodyContent">
					<p>Pour toutes nos créations, nous retravaillons toutes les soudures de la console , effectuons une série de tests et effectuons les réparations si nécessaire avant même la transition en RGH ou la customisation. Ainsi qu'une dernière série de tests à la fin.
					</p>
					<p>Toutes nos consoles contiennent</p>
					<ul>
					<li>Dashboard Aurora installé</li>
					<li>Dashlaunch installé</li>
					<li>Xex Menu installé</li>
					<li>KV clean</li>
					</ul>
				</div>
			</div>
			<div class="imageAbout">
				<div class="wallGradAboutRight" style="--cover:url(/image/xboxSoudure.jpg)">
					<div class="wallHideAboutLeft"></div>
				</div>
			</div>
		</div>

	</div>


{% endblock %}
