{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - Moyens de paiments{% endblock %}

{% block body %}


<div class="container containerRgh">
		<div class="titleRgh">Moyens de paiement</div>
        <div class="bodyRgh">
           <div class="smallRgh">
        <p>Paypal est l'unique moyen de paiement du site Dj Shop.</p>
        <p>Profitez des avantages qu'offrent les paiements Paypal comme l'ajout de n'importe quelle carte de paiement ou encore le paiement en 4 fois.</p>
        </div>
        <div class="logoPayment">
        <img src="{{ asset('image/paypal.png') }}" alt="">
        
        </div>
        <br>
        <hr>
		<div class="contentRgh">
			<div class="paraRgh">
				<div class="titleParaRgh">Cartes de paiement acceptées par Paypal</div>
				<div class="contentParaRgh">
                <ul>
                <li>MasterCard</li>
                <li>Visa</li>
                <li>American Express</li>
                <li>...</li>
                </ul>
                </div>
			</div>
			<div class="paraRgh">
				<div class="titleParaRgh">Paiement en 4 fois via Paypal</div>
				<div class="contentParaRgh">
                <p>Pour bénéficier du paiement en 4 fois via Paypal, il vous faut au préalable avoir une carte ou compte bancaire enregistré à votre compte paypal. </p>
          
                </div>
			</div>
			
		</div>
        </div>
     

	</div>


{% endblock %}