{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - RGH
{% endblock %}

{% block body %}

	<div class="container containerRgh">
		<div class="titleRgh">Qu'est-ce qu'une RGH ?</div>
        <div class="bodyRgh">
           <div class="smallRgh">
        <p>Toutes les consoles Xbox 360 avec un dashboard supérieur à 2.0.7371 ont reçu une protection supplémentaire de la part de Microsoft pour rendre impossible la transition en JTAG.</p>
        <p>Pour passer outre cette protection un processus appelé RGH ( Reset Glitch Hack ) fut développé. Le Reset Glitch Hack peut être installé sur n'importe quelle console compatible comme listée ci-dessous.</p>
        </div>
        <hr>
		<div class="contentRgh">
			<div class="paraRgh">
				<div class="titleParaRgh">Modèle compatible RGH</div>
				<div class="contentParaRgh">
                <ul>
                <li>Les originaux (avec un port HDMI à l'arrière)</li>
                <li>FAT - avec un port HDMI - n'importe quel dashboard au-dessus de 2.0.7371</li>
                <li>Slim - n'importe quel modèle -  n'importe quel dashboard</li>
                <li>360e - tous les modèles (sauf les versions 500gb ) -  n'importe quel dashboard</li>
                </ul>
                </div>
			</div>
			<div class="paraRgh">
				<div class="titleParaRgh">En quoi celà consiste ?</div>
				<div class="contentParaRgh">
                <ul>
                <li>Avec la sortie du RGH 3.0 (28 Novembre 2021), nous pouvons reprogrammer le SMC de la carte mère de la console pour lancer une impulsion chronométrée sur le CPU. Cette technique force les sécurités du CPU, permettant d'éxecuter un code non reconnu.</li>
                <li>Les cartes mères Zephyr ont toujours besoin d'être modifiées en installant une puce RGH, mais cela n'affecte en rien les perfomances de la console.</li>
                </ul>
                </div>
			</div>
			<div class="paraRgh">
				<div class="titleParaRgh">Son utilité ?</div>
				<div class="contentParaRgh">
                <ul>
                <li>En reprogrammant le SMC de la carte mère de la console pour lancer une impulsion sur le CPU et si l'impulsion est lancée au bon moment et à la bonne fréquence, le CPU démarre donc la console sans aucune protection.</li>
                <li>Ce qui nous laisse donc une grande liberté sur la console comme par exemple démarrer sur un autre dashboard , lancer n'importe quelle application ou d'y connecter des disques durs non officiels ( jusqu'à 2Tb ).</li>
                </ul>
                </div>
			</div>
			<div class="paraRgh">
				<div class="titleParaRgh">La touche Dj Shop</div>
				<div class="contentParaRgh">
                <ul>
                <li>Une console customisée et personnalisée unique au monde</li>
                <li>Dashboard Aurora installé</li>
                <li>Dashlaunch installé</li>
                <li>XexMenu installé</li>
                <li>KV Clean</li>
                </ul>
                </div>
			</div>
		</div>
        </div>
     

	</div>


{% endblock %}
