<h1>Bonjour !</h1>

<p>
     Veuillez confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans 1 heure.
</p>

<p>
    DJ SHOP
</p>
