{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
{% block cart %}
{% endblock cart %}
{% block footer %}{% endblock footer %}




	<div class="container container404">
    <img class="img404" src="{{ asset("image/404.png")}}" alt="404.png">
		<h1>Nous n'avons pas réussi a trouvé cette page</h1>
        <h4><a href="{{ path("app_xbox_index")}}">Retour au Site</a></h4>
	</div>

{% endblock %}