{% extends 'base.html.twig' %}

{% block title %}Erreur 404
{% endblock %}

{% block body %}
	{% block navbar %}{% endblock %}
	{% block cart %}{% endblock cart %}
	{% block footer %}{% endblock footer %}


	<div class="container container404">
    <img class="404img" src="{{ asset("image/404.png")}}" alt="404.png">
		<h1>Nous n'avons pas réussi a trouvé cette page</h1>
        <p>Retour au <a href="{{ path("app_xbox_index")}}">Site</a></p>
	</div>


{% endblock %}
